*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    position: absolute;
    z-index: 500;
}

.container {
    bottom: 50px;
    left: 0;
    -webkit-left: 0;
    position: absolute;
    right: 50px;
    top: 0;
}

.container.flex {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    left: 0;
    -webkit-left: 0;
    top: 0;
}

.bubble-container {
    -webkit-animation: container .9s linear infinite alternate;
    -moz-animation: container .9s linear infinite alternate;
    -o-animation: container .9s linear infinite alternate;
    animation: container .9s linear infinite alternate;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-left: 0;
    left: 0;
    position: relative;
    right: 0;
}

.bubble-container.slow {
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration: 1.1s;
    -o-animation-duration: 1.1s;
    animation-duration: 1.1s;
}

.bubble-container.fast {
    -webkit-animation-duration: .8s;
    -moz-animation-duration: .8s;
    -o-animation-duration: .8s;
    animation-duration: .8s;
}

@-moz-keyframes container {
    from {
        height: 100%;
    }
    to {
        height: 0;
    }
}

@-o-keyframes container {
    from {
        height: 100%;
    }
    to {
        height: 0;
    }
}

@keyframes container {
    from {
        height: 100%;
    }
    to {
        height: 0;
    }
}

@-webkit-keyframes container {
    from {
        height: 100%;
    }
    to {
        height: 0;
    }
}

.bubble {
    background: no-repeat scroll left top #ccc;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    bottom: 0;
    height: 50px;
    position: absolute;
    width: 50px;
}

.flex .bubble {
    -webkit-left: 50%;
    left: 50%;
    margin-left: -25px;
}

.bubble.red {
    background-image: url('../images/f-jumpBall-r.png');
}

.bubble.green {
    background-image: url('../images/f-jumpBall-g.png');
}

.bubble.blue {
    background-image: url('../images/f-jumpBall-b.png');
}
.bubble.ball {
    -webkit-animation: ball .55s ease-in infinite alternate;
    -moz-animation: ball .55s ease-in infinite alternate;
    -o-animation: ball .55s ease-in infinite alternate;
    animation: ball .55s ease-in infinite alternate;
}
.bubble.ball.slow {
    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    -o-animation-duration: .7s;
    animation-duration: .7s;
}

.bubble.ball.fast {
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
}

.bubble.ball1 {
    -webkit-animation: topbottom 10s linear infinite, 8s linear leftright infinite;
    -moz-animation: topbottom 10s linear infinite, 8s linear leftright infinite;
    -o-animation: topbottom 10s linear infinite, 8s linear leftright infinite;
    animation: topbottom 10s linear infinite, 8s linear leftright infinite;
}

.bubble.ball2 {
    -webkit-animation: topbottom 4.6s linear infinite, 5.4s linear leftright infinite;
    -moz-animation: topbottom 4.6s linear infinite, 5.4s linear leftright infinite;
    -o-animation: topbottom 4.6s linear infinite, 5.4s linear leftright infinite;
    animation: topbottom 4.6s linear infinite, 5.4s linear leftright infinite;
}

.bubble.ball3 {
    -webkit-animation: topbottom 4.1s linear infinite, 6s linear leftrightinverse infinite;
    -moz-animation: topbottom 4.1s linear infinite, 6s linear leftrightinverse infinite;
    -o-animation: topbottom 4.1s linear infinite, 6s linear leftrightinverse infinite;
    animation: topbottom 4.1s linear infinite, 6s linear leftrightinverse infinite;
}

.bubble.ball4 {
    -webkit-animation: topbottom 4.4s linear infinite, 4.8s linear leftrightinverse infinite;
    -moz-animation: topbottom 4.4s linear infinite, 4.8s linear leftrightinverse infinite;
    -o-animation: topbottom 4.4s linear infinite, 4.8s linear leftrightinverse infinite;
    animation: topbottom 4.4s linear infinite, 4.8s linear leftrightinverse infinite;
}

.bubble.ball5 {
    -webkit-animation: topbottominverse 6.7s linear infinite, 6.4s linear leftrightinverse infinite;
    -moz-animation: topbottominverse 6.7s linear infinite, 6.4s linear leftrightinverse infinite;
    -o-animation: topbottominverse 6.7s linear infinite, 6.4s linear leftrightinverse infinite;
    animation: topbottominverse 6.7s linear infinite, 6.4s linear leftrightinverse infinite;
}

.bubble.ball6 {
    -webkit-animation: topbottominverse 8s linear infinite, 7.4s linear leftrightinverse infinite;
    -moz-animation: topbottominverse 8s linear infinite, 7.4s linear leftrightinverse infinite;
    -o-animation: topbottominverse 8s linear infinite, 7.4s linear leftrightinverse infinite;
    animation: topbottominverse 8s linear infinite, 7.4s linear leftrightinverse infinite;
}

.bubble.ball7 {
    -webkit-animation: topbottominverse 6.6s linear infinite, 5.4s linear leftright infinite;
    -moz-animation: topbottominverse 6.6s linear infinite, 5.4s linear leftright infinite;
    -o-animation: topbottominverse 6.6s linear infinite, 5.4s linear leftright infinite;
    animation: topbottominverse 6.6s linear infinite, 5.4s linear leftright infinite;
}

.bubble.ball8 {
    -webkit-animation: topbottominverse 5s linear infinite, 7.2s linear leftright infinite;
    -moz-animation: topbottominverse 5s linear infinite, 7.2s linear leftright infinite;
    -o-animation: topbottominverse 5s linear infinite, 7.2s linear leftright infinite;
    animation: topbottominverse 5s linear infinite, 7.2s linear leftright infinite;
}

.bubble.ball9 {
    -webkit-animation: topbottom 6.6s linear infinite, 5.4s linear leftright infinite;
    -moz-animation: topbottom 6.6s linear infinite, 5.4s linear leftright infinite;
    -o-animation: topbottom 6.6s linear infinite, 5.4s linear leftright infinite;
    animation: topbottom 6.6s linear infinite, 5.4s linear leftright infinite;
}

.bubble.ball10 {
    -webkit-animation: topbottominverse 5.8s linear infinite, 5.2s linear leftright infinite;
    -moz-animation: topbottominverse 5.8s linear infinite, 5.2s linear leftright infinite;
    -o-animation: topbottominverse 5.8s linear infinite, 5.2s linear leftright infinite;
    animation: topbottominverse 5.8s linear infinite, 5.2s linear leftright infinite;
}

@-webkit-keyframes ball {
    from {
        bottom: 70%;
    }
    to {
        bottom: 0;
    }
}

@-moz-keyframes ball {
    from {
        bottom: 70%;
    }
    to {
        bottom: 0;
    }
}

@-o-keyframes ball {
    from {
        bottom: 70%;
    }
    to {
        bottom: 0;
    }
}

@keyframes ball {
    from {
        bottom: 70%;
    }
    to {
        bottom: 0;
    }
}


@-webkit-keyframes leftright {
    0% {
        left: 50%;
    }
    5% {
        left: 100%;
    }
    10% {
        left: 50%;
    }
    15% {
        left: 0;
    }
    20% {
        left: 50%;
    }
    27% {
        left: 100%;
    }
    37% {
        left: 50%;
    }
    50% {
        left: 0;
    }
    100% {
        left: 50%;
    }
}


@-moz-keyframes leftright {
    0% {
        left: 50%;
    }
    5% {
        left: 100%;
    }
    10% {
        left: 50%;
    }
    15% {
        left: 0;
    }
    20% {
        left: 50%;
    }
    27% {
        left: 100%;
    }
    37% {
        left: 50%;
    }
    50% {
        left: 0;
    }
    100% {
        left: 50%;
    }
}


@-o-keyframes leftright {
    0% {
        left: 50%;
    }
    5% {
        left: 100%;
    }
    10% {
        left: 50%;
    }
    15% {
        left: 0;
    }
    20% {
        left: 50%;
    }
    27% {
        left: 100%;
    }
    37% {
        left: 50%;
    }
    50% {
        left: 0;
    }
    100% {
        left: 50%;
    }
}


@keyframes leftright {
    0% {
        left: 50%;
    }
    5% {
        left: 100%;
    }
    10% {
        left: 50%;
    }
    15% {
        left: 0;
    }
    20% {
        left: 50%;
    }
    27% {
        left: 100%;
    }
    37% {
        left: 50%;
    }
    50% {
        left: 0;
    }
    100% {
        left: 50%;
    }
}

@-webkit-keyframes leftrightinverse {
    0% {
        left: 50%;
    }
    5% {
        left: 0;
    }
    10% {
        left: 50%;
    }
    15% {
        left: 100%;
    }
    20% {
        left: 50%;
    }
    27% {
        left: 0%;
    }
    37% {
        left: 50%;
    }
    50% {
        left: 100%;
    }
    100% {
        right: 50%;
    }
}

@-moz-keyframes leftrightinverse {
    0% {
        left: 50%;
    }
    5% {
        left: 0;
    }
    10% {
        left: 50%;
    }
    15% {
        left: 100%;
    }
    20% {
        left: 50%;
    }
    27% {
        left: 0%;
    }
    37% {
        left: 50%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 50%;
    }
}

@-o-keyframes leftrightinverse {
    0% {
        left: 50%;
    }
    5% {
        left: 0;
    }
    10% {
        left: 50%;
    }
    15% {
        left: 100%;
    }
    20% {
        left: 50%;
    }
    27% {
        left: 0%;
    }
    37% {
        left: 50%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 50%;
    }
}

@keyframes leftrightinverse {
    0% {
        left: 50%;
    }
    5% {
        left: 0;
    }
    10% {
        left: 50%;
    }
    15% {
        left: 100%;
    }
    20% {
        left: 50%;
    }
    27% {
        left: 0%;
    }
    37% {
        left: 50%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: 50%;
    }
}


@-webkit-keyframes topbottom {
    0% {
        top: 50%;
    }
    5% {
        top: 100%;
    }
    10% {
        top: 50%;
    }
    15% {
        top: 0;
    }
    20% {
        top: 50%;
    }
    27% {
        top: 100%;
    }
    37% {
        top: 50%;
    }
    50% {
        top: 0;
    }
    100% {
        top: 50%;
    }
}


@-moz-keyframes topbottom {
    0% {
        top: 50%;
    }
    5% {
        top: 100%;
    }
    10% {
        top: 50%;
    }
    15% {
        top: 0;
    }
    20% {
        top: 50%;
    }
    27% {
        top: 100%;
    }
    37% {
        top: 50%;
    }
    50% {
        top: 0;
    }
    100% {
        top: 50%;
    }
}


@-o-keyframes topbottom {
    0% {
        top: 50%;
    }
    5% {
        top: 100%;
    }
    10% {
        top: 50%;
    }
    15% {
        top: 0;
    }
    20% {
        top: 50%;
    }
    27% {
        top: 100%;
    }
    37% {
        top: 50%;
    }
    50% {
        top: 0;
    }
    100% {
        top: 50%;
    }
}


@keyframes topbottom {
    0% {
        top: 50%;
    }
    5% {
        top: 100%;
    }
    10% {
        top: 50%;
    }
    15% {
        top: 0;
    }
    20% {
        top: 50%;
    }
    27% {
        top: 100%;
    }
    37% {
        top: 50%;
    }
    50% {
        top: 0;
    }
    100% {
        top: 50%;
    }
}


@-webkit-keyframes topbottominverse {
    0% {
        top: 50%;
    }
    5% {
        top: 0;
    }
    10% {
        top: 50%;
    }
    15% {
        top: 100%;
    }
    20% {
        top: 50%;
    }
    27% {
        top: 0%;
    }
    37% {
        top: 50%;
    }
    50% {
        top: 100%;
    }
    100% {
        top: 50%;
    }
}


@-moz-keyframes topbottominverse {
    0% {
        top: 50%;
    }
    5% {
        top: 0;
    }
    10% {
        top: 50%;
    }
    15% {
        top: 100%;
    }
    20% {
        top: 50%;
    }
    27% {
        top: 0%;
    }
    37% {
        top: 50%;
    }
    50% {
        top: 100%;
    }
    100% {
        top: 50%;
    }
}


@-o-keyframes topbottominverse {
    0% {
        top: 50%;
    }
    5% {
        top: 0;
    }
    10% {
        top: 50%;
    }
    15% {
        top: 100%;
    }
    20% {
        top: 50%;
    }
    27% {
        top: 0%;
    }
    37% {
        top: 50%;
    }
    50% {
        top: 100%;
    }
    100% {
        top: 50%;
    }
}


@keyframes topbottominverse {
    0% {
        top: 50%;
    }
    5% {
        top: 0;
    }
    10% {
        top: 50%;
    }
    15% {
        top: 100%;
    }
    20% {
        top: 50%;
    }
    27% {
        top: 0%;
    }
    37% {
        top: 50%;
    }
    50% {
        top: 100%;
    }
    100% {
        top: 50%;
    }
}