*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  bottom: 0;
  left: 50px;
  position: absolute;
  right: 0;
  top: 50px;
}

.container.flex {
  display: -webkit-flex;
  display: flex;
  left: 0;
  top: 0;

  -webkit-align-items: flex-end;
  -webkit-flex-direction: row;
  -webkit-flex-grow: 1;
}

.bubble-container {
  left: 0;
  position: relative;
  right: 0;

  -webkit-animation: container .9s linear infinite alternate;
  -webkit-flex-grow: 1;
}

.bubble-container.slow {
  -webkit-animation-duration: 1.1s;
}

.bubble-container.fast {
  -webkit-animation-duration: .8s;
}

@-webkit-keyframes container {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

.bubble {
  -webkit-animation: ball .55s ease-in infinite alternate;
  bottom: 0;
  height: 50px;
  position: absolute;
  width: 50px;
}

.flex .bubble {
  left: 50%;
  margin-left: -25px;
}

.bubble.red {
  background-image: url('../images/f-jumpBall-r.png');
}

.bubble.green {
  background-image: url('../images/f-jumpBall-g.png');
}

.bubble.blue {
  background-image: url('../images/f-jumpBall-b.png');
}

.bubble.slow {
  -webkit-animation-duration: .7s;
}

.bubble.fast {
  -webkit-animation-duration: .4s;
}

.bubble.ball1 {
  -webkit-animation: topBottom 10s linear infinite, leftRight 8s linear infinite;
}

.bubble.ball2 {
  -webkit-animation: topBottom 4.6s linear infinite, leftRight 5.4s linear infinite;
}

.bubble.ball3 {
  -webkit-animation: topBottom 4.1s linear infinite, leftRightInverse 6s linear infinite;
}

.bubble.ball4 {
  -webkit-animation: topBottom 4.4s linear infinite, leftRightInverse 4.8s linear infinite;
}

.bubble.ball5 {
  -webkit-animation: topBottomInverse 6.7s linear infinite, leftRightInverse 6.4s linear infinite;
}

.bubble.ball6 {
  -webkit-animation: topBottomInverse 8s linear infinite, leftRightInverse 7.4s linear infinite;
}

.bubble.ball7 {
  -webkit-animation: topBottomInverse 6.6s linear infinite, leftRight 5.4s linear infinite;
}

.bubble.ball8 {
  -webkit-animation: topBottomInverse 5s linear infinite, leftRight 7.2s linear infinite;
}

.bubble.ball9 {
  -webkit-animation: topBottom 6.6s linear infinite, leftRight 5.4s linear infinite;
}

.bubble.ball10 {
  -webkit-animation: topBottomInverse 5.8s linear infinite, leftRight 5.2s linear infinite;
}

@-webkit-keyframes ball {
  from {
    bottom: 70%;
  }
  to {
    bottom: 0;
  }
}

@-webkit-keyframes leftRight {
  0% {
    right: 50%;
  }
  5% {
    right: 100%;
  }
  10% {
    right: 50%;
  }
  15% {
    right: 0;
  }
  20% {
    right: 50%;
  }
  27.5% {
    right: 100%;
  }
  37.5% {
    right: 50%;
  }
  50% {
    right: 0;
  }
  100% {
    right: 50%;
  }
}

@-webkit-keyframes leftRightInverse {
  0% {
    right: 50%;
  }
  5% {
    right: 0;
  }
  10% {
    right: 50%;
  }
  15% {
    right: 100%;
  }
  20% {
    right: 50%;
  }
  27.5% {
    right: 0;
  }
  37.5% {
    right: 50%;
  }
  50% {
    right: 100%;
  }
  100% {
    right: 50%;
  }
}

@-webkit-keyframes topBottom {
  0% {
    bottom: 50%;
  }
  5% {
    bottom: 100%;
  }
  10% {
    bottom: 50%;
  }
  15% {
    bottom: 0;
  }
  20% {
    bottom: 50%;
  }
  27.5% {
    bottom: 100%;
  }
  37.5% {
    bottom: 50%;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: 50%;
  }
}

@-webkit-keyframes topBottomInverse {
  0% {
    bottom: 50%;
  }
  5% {
    bottom: 0;
  }
  10% {
    bottom: 50%;
  }
  15% {
    bottom: 100%;
  }
  20% {
    bottom: 50%;
  }
  27.5% {
    bottom: 0;
  }
  37.5% {
    bottom: 50%;
  }
  50% {
    bottom: 100%;
  }
  100% {
    bottom: 50%;
  }
}
